---
---

@import "{{site.theme}}";

.img-av {
    width: 32px;
    height: 32px;
    border-radius: 6px;
    display: unset;
}

.img-os {
    width: 32px;
    height: 32px;
    display: unset;
}

.diff-hard{
    color: #db524b;
}

.diff-med{
    color: #f7af3e;
}

.diff-easy{
    color: #9acc14;
}

table {
    display: table;
    border: 2px solid #6f777d;
}

